 
h1{
    color:darkgoldenrod;
    font-style: italic;
}
h2{
    color:blue;
}
span{
    color:darkmagenta;
}
.card{
    border: 1px solid black;
    
    width:300px;
    display:flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
}
img{
    width:100%;
    border-radius: 15px;
    height:33%;
}

.container{
    display:flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

@media (max-width: 600px){
    .container{
        flex-wrap:wrap;
    }
}