*{
    font-family:'Courier New', Courier, monospace;
}
h1{
    color:#1b74e4;
}
#searchb{
    background-color:black;
    color:white;
}
#login, #register{
    color:black;
    background-color:aqua;
}